@charset "UTF-8";

.ff-noto_sans {
	font-family: "Noto Sans KR", sans-serif !important
}

.ff-source_hansans_k {
	font-family: "sourceHansansK", sans-serif !important
}

.ff-spartan {
	font-family: "Spartan", sans-serif !important;
	letter-spacing: -0.05em
}

.ff-nanum_myeongjo {
	font-family: "NanumMyeongjo", serif !important
}

.container, main {
	min-width: 1024px
}

.text-truncate-1 {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.text-truncate-2 {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	line-height: 1.5;
	-webkit-box-orient: vertical;
	word-wrap: break-word;
	height: 3em
}

.text-truncate-3 {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	line-height: 1.5;
	-webkit-box-orient: vertical;
	word-wrap: break-word;
	height: 4.5em
}

.text-truncate-4 {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	line-height: 1.5;
	-webkit-box-orient: vertical;
	word-wrap: break-word;
	height: 6em
}

.text-truncate-5 {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 5;
	line-height: 1.5;
	-webkit-box-orient: vertical;
	word-wrap: break-word;
	height: 7.5em
}

.imgToCover {
	display: block;
	position: relative;
	overflow: hidden
}

.imgToCover:after {
	content: "";
	display: block;
	padding-bottom: 100%
}

.imgToCover>img {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	width: auto;
	height: auto;
	min-width: 1000%;
	min-height: 1000%;
	max-width: none;
	max-height: none;
	transform: translate(-50%, -50%) scale(0.1)
}

.imgToContain {
	display: block;
	position: relative;
	overflow: hidden
}

.imgToContain:after {
	content: "";
	display: block;
	padding-bottom: contain
}

.imgToContain>img {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	width: auto;
	height: auto;
	min-width: 0;
	min-height: 0;
	max-width: 100%;
	max-height: 100%;
	transform: translate(-50%, -50%)
}

.login__wrap {
	width: 100%;
	max-width: 500px;
	margin: 0 auto
}

.login__wrap .select-row {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: flex-start
}

.login__wrap .select-row select {
	color: #9b9489
}

.login__wrap .select-row input, .login__wrap .select-row select {
	padding: 0 10px;
	font-weight: 500
}

.login__wrap .select-row__item {
	width: 100%
}

.login__wrap .select-row__item:first-of-type {
	max-width: 7.5em;
	flex: 1 0 7.5em;
	position: relative;
	padding: 0 1.25em
}

.login__wrap .select-row__item:first-of-type:before {
	content: "";
	display: block;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 1px;
	height: 0.875em;
	background-color: #c5c5c5
}

.login__wrap .select-row__item:last-of-type {
	max-width: calc(100% - 7.5em);
	flex: 1 0 calc(100% - 7.5em);
	padding: 0 1.25em
}

.login__tab {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: flex-start;
	margin-bottom: 1.875em
}

.login__tab--item {
	width: 100%;
	max-width: 50%;
	flex: 1 0 50%
}

.login__tab--link {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 100%;
	height: 4.0625em;
	font-weight: 500;
	color: #c1a069;
	border: 1px solid #c1a069;
	position: relative
}

.login__tab--link.on {
	background-color: #c1a069;
	color: #fff
}

.login__tab--link.on:before {
	content: "";
	display: block;
	position: absolute;
	bottom: -0.4375em;
	left: 50%;
	transform: translateX(-50%);
	width: 0;
	height: 0;
	border-top: 7px solid #c1a069;
	border-right: 7px solid transparent;
	border-left: 7px solid transparent
}

.login__find--box {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 100%;
	height: 8.9375em
}

.login__find--after {
	display: none
}

.login__input {
	border: 1px solid #c1a069;
	margin-top: -1px;
	padding: 10px 0
}

.login__input input::placeholder {
	color: #9b9489
}

.login__input button, .login__input input, .login__input select,
	.login__input textarea {
	background-color: #f3efe9;
	border: 0;
	padding: 0 30px
}

.login__btn {
	font-size: 1.125em;
	line-height: 1;
	font-weight: 700;
	width: 100%;
	height: 70px;
	line-height: 70px;
	transition: all 300ms ease-in-out;
	color: #fff;
	display: inline-block;
	text-align: center
}

.login__btn.color-01 {
	border: 1px solid #c1a069;
	background-color: #c1a069
}

.login__btn.color-01:hover {
	background-color: #f3efe9;
	color: #c1a069
}

.login__btn.color-02 {
	border: 1px solid #555;
	background-color: #555
}

.login__btn.color-02:hover {
	background-color: #f3efe9;
	color: #555
}

.login__check {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between
}

.login__check label {
	color: #54514c;
	font-weight: 700
}

.login__check--right {
	margin: 0 0 0 auto
}

.login__check .login-member-link {
	font-size: 15px;
	line-height: 1;
	font-weight: 500;
	color: #9b9489;
	padding: 0 15px;
	position: relative;
	display: inline-block
}

.login__check .login-member-link:first-of-type {
	padding-left: 0
}

.login__check .login-member-link:last-of-type {
	padding-right: 0
}

.login__check .login-member-link:before {
	content: "";
	border-right: 1px solid #aaa;
	height: 10px;
	position: absolute;
	top: 50%;
	right: -1px;
	margin-top: -5px
}

.login__check .login-member-link:last-of-type:before {
	display: none
}

.login__type {
	margin: 0 -0.1875em;
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: flex-start;
	padding-top: 2.375em;
	margin-top: 2.375em;
	border-top: 1px solid #c1a069
}

.login__type--item {
	padding: 0 0.1875em;
	width: 100%;
	max-width: 50%;
	flex: 1 0 50%
}

.login__type-text {
	font-size: 16px;
	line-height: 1.3;
	font-weight: 700;
	color: #54514c
}

.login__type-text--small {
	font-size: 14px;
	line-height: 1.3;
	font-weight: 500;
	color: #9b9489;
	display: block
}

.login-list {
	margin-top: 30px
}

.login-list-item {
	margin-top: -1px
}

.login-list-item input {
	width: 100%;
	height: 60px;
	padding: 0 30px;
	color: #333
}

.login-list-item input::placeholder {
	color: #999;
	font-weight: 300
}

@media screen and (max-width:) {
	.login-list-item input {
		height: 50px;
		padding: 0 10px
	}
}

.login-list-item.login-bx {
	margin-top: 1.25em
}

.login-list-item.login-bx input {
	background-color: #c1a069;
	color: #fff;
	font-size: 1.125em
}

@media screen and (min-width:0.02) {
	.login-list-item.login-bx input {
		transition: all 300ms ease-out
	}
	.login-list-item.login-bx input:hover {
		background-color: #c1a069
	}
}

.login-list-item .check-bx {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between
}

.login-list-item .check-bx .find-area {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-start
}

@media screen and (min-width:0.02) {
	.login-list-item .check-bx .find-area .find-inner:hover {
		color: #c1a069
	}
}

.login-list__sns .login-list-item {
	margin-bottom: 0.625em
	background: limegreen;
}

.login-list__sns .login-list-item:last-child {
	margin-bottom: 0
}

.login-list__sns .login-list-item .sns-btn {
	width: 100%;
	height: 60px;
	line-height: 60px;
	display: block;
	text-align: center;
	position: relative;
	font-size: 1.125em
}

@media screen and (max-width:) {
	.login-list__sns .login-list-item .sns-btn {
		height: 50px;
		line-height: 50px
	}
}

.login-list__sns .login-list-item .sns-btn:before {
	content: "";
	display: block;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 1.6666666667em;
	width: 1.6111111111em;
	height: 1.4444444444em;
	background-repeat: no-repeat;
	background-size: contain
}

.login-list__sns .login-list-item .sns-btn.login-naver {
	background-color: #03cf5d;
	border: 1px solid #03cf5d;
	color: #fff
}

.login-list__sns . .sns-btn.login-naver:before {
	background-image: url(../images/icon/login_naver.png)
}

.login-list__sns .login-list-item .sns-btn.login-naver.active {
	background-color: #fff;
	color: #03cf5d
}

.login-list__sns .login-list-item .sns-btn.login-naver.active:before {
	background-image: url(../images/icon/login_naver_on.png)
}

.login-list__sns .login-list-item .sns-btn.login-kakao {
	background-color: #f9e000;
	border: 1px solid #f9e000;
	color: #412e34
}

.login-list__sns .login-list-item .sns-btn.login-kakao:before {
	background-image: url(../images/icon/login_kakao.png)
}

.login-list__sns .login-list-item .sns-btn.login-kakao.active {
	background-color: #fff
}