@charset "UTF-8";

.main_title {
	text-align: center;
	margin-top: 100px;
}

.main_list {
	width: 1000px;
	margin: 0 auto;
}

.list_start {
	text-align: center;
}

.list_detail {
	display: inline-block;
	width: 220px;
	height: 260px;
	border: 1px solid;
	margin-bottom: 5px;
	margin: 50px;

}

.paging_start {
	text-align: center;
}

.list_start > .list_detail > p > img {
    width: 217px;
    height: 160px;
}

.list_start > .list_detail > p > a > img {
    width: 217px;
    height: 160px;
}



.list_start > .list_detail > p {
	font-family : TmonMonsori, "GodoB", "굴림";
	font : italic 1.3em TmonMonsori;
	line-height: 1.0;
}

.list_start > .list_detail > .coffee_name {
	font-size: 25px;
}




