@charset "UTF-8";

* {
	font-family: NanumGothicCoding;
	src: url("../font/NanumGothicCoding.ttf");
	box-sizing: border-box;
	font-family: 'Noto Sans KR', sans-serif;
}

main {
	width:500px;
	text-align: center;
	height: 430px;
	margin: auto;
	margin-top: 50px;
	border:1px solid #3333;
	padding:50px 50px;
}

article{
	border: 1px solid #aaa;

}

  h1 {
            font-size: 30px;
        }

        /*대표버튼*/
.click-btn {
	text-align: center;
	padding: 1rem;
	font-size: 16px;
	width: 45%;
	background-color: #C80A1E;
	border: none;
	color: white;
	cursor: pointer;
	margin: 5px 5px 5px 5px;
}

.click-btn:hover {
	padding: 1rem;
	font-size: 16px;
	width: 45%;
	background-color: #C80A1E;
	border: none;
	color: white;
}

.find-wrap {
	width: 350px;
	text-align: center;
	margin: auto;
}

        
        .form-change-pw {
	width: 320px;
	padding: 10px;
	font-size: 15px;
	border: 1px solid black;
	margin: 5px 0px;
}

        /*login_id,pw*/
        .form-phone {
            padding: 10px;
            font-size: 15px;
            width: 29.5%;
            margin: 10px 0px;
            border: 1px solid #aaa;
        }

   

        }

     .font-find_id {
        text-align: left;
         padding: 10px;
            
        }

       .font-find_id:hover {
            text-align: left;
            width: 50%;
            border: none;
            color: #C80A1E;
            cursor: pointer;
            
        }

        .font-find_pw {
            text-align: left;
            padding: 10px;
            color: #C80A1E;
        }
        
        
        /*새로 추가 확인버튼*/

.login-pw{
		font-size: 14px;
	color: #AAAAAA;
	width: 100%;
	margin: 5px;
	padding:  10px 10px 10px 40px;
	border: 1px solid #3333;

	margin-bottom:15px;
}

      /*  .font-find_pw:hover {
            text-align: left;
            width: 50%;
            border: none;
            color: #C80A1E;
            cursor: pointer;
        }*/
        
 
        