@charset "UTF-8";

* {
	box-sizing: border-box;
}

.aaa {
	margin-left: 457px;
}

.bbb {
    margin-left: 457px;
    margin-right: 457px;
}

/* 상단 메뉴 3등분 */
#container {
	top: 0;
	width: 100%;
	display: flex;
	position: fixed;
	background-color: rgba(255, 255, 255, 0.95);
	height: 110px;
	top: 0px;
	z-index: 3;
}

#box_left {
	flex: 1;
}

#menu_logo {
	flex: 1;
	text-align: center;
	margin: 80px 0 0 0;
}

#box_right {
	flex: 1;
	text-align: right;
}

/* 전체메뉴 */
.menu, .menu .menu_left, .menu .menu_left .menu_left_innerMenu, .menu .menu_right,
	.menu .menu_logo {
	margin: 0px;
	padding: 10px;
	list-style: none;
}

.menu_logo {
	margin: 20px 0px 0px 0px;
}

/*  메뉴 가로로 */
.menu_left, .menu_logo, .menu_right {
	display: inline-block;
}

/* 카테고리 상세 */
.menu_left_innerMenu {
	display: none;
	position: absolute;
	font-weight: normal;
	border: 1px solid #333;
	width: 70px;
	font-size: 12px;
	background-color: rgba(255, 255, 255, 0.95);
}

/* 카테고리 효과 */
.menu>.menu_left:hover .menu_left_innerMenu {
	display: block;
}

/* 스토어 소분류 */
.menu_left_innerMenu li:hover ul {
	display: block;
	text-align: center;
	height: 80px;
	width: 120%;
}

.inner-inner {
	position: absolute;
	top: 0%;
	left: 100%;
	background-color: white;
	border: 1px solid #333;
	display: none;
}

/* 전체 왼쪽 메뉴 */
.menu.side_left {
	float: left;
	padding: 20px 0px 0px 50px;
}

/* 전체 오른쪽 메뉴 */
.menu.side_right {
	display: inline-block;
	padding: 20px 50px 0px 0px;
}

a {
	text-decoration: none;
	color: #333;
	font-size: 13px;
}

/* 왼쪽 카테고리 */
.menu_left {
	font-weight: bold;
}

/* 검색창 */
#container>#box_right>.menu.side_right>#search {
	background-color: white;
}

#search>.search_set {
	padding-left: 600px;
}

#search>form>.search_box {
	width: 100px;
	height: 20px;
	margin: 0px 10px;
	padding-left: 15px;
	border: 2px solid #C80A1E;
}

#search>form>.search_icon {
	width: 25px;
	height: 25px;
	position: absolute;
	background-image: url(../img/search.png);
	background-size: 15px;
	background-repeat: no-repeat;
	background-position: 3px 6px;
	background-color: white;
	border: 1px solid transparent;
	margin-right: 10px;
}

/* footer 하단 */
.footer {
	position: absolute;
	width: 100%;
	background-color: #f0f0f0;
	border: none;
	margin-top: 120px;
}

/*
        .footer .footer_top_line {
        width: 1px;
        height: 130px;
        background-color: #e0e0e0;
        position: absolute;
        top: -10px;
        left: 840px;
    }
*/
.footer_inner {
	width: 1200px;
	padding: 55px 20px 20px;
	margin: 0px auto;
}

/* footer 가로로*/
.footer_top, li, .footer_inner_box, .footer_inner_item {
	list-style: none;
}

.footer_inner_item {
	display: inline-block;
	padding: 0px 40px 0px;
}

/* footer 폰트*/
.footer .footer_inner_box .footer_inner_item .info_title,
	.info_title_number, #second_footer>.footer_inner_box {
	font-size: 13px;
	font-weight: 500;
	margin-bottom: 14px;
	color: #333;
	letter-spacing: -1.5px;
}

.info_title_number, .footer_bottom_detail {
	letter-spacing: 0;
}

/* footer_top 세로선*/
.footer .footer_inner_separator_line {
	width: 1px;
	height: 130px;
	background-color: #e0e0e0;
	position: absolute;
	right: 40%;
}

.footer_bottom {
	float: right
}
/* 
    컨텐츠 영역에 대한 폭 제어 스타일 
    - 모든 article은 가운데 정렬을 원칙으로 한다.
    - 폭은 w-비율 형태의 class로 5단위로 지원한다.
*/
article {
	margin: auto;
}

article.w-100 {
	width: 100%;
}

article.w-95 {
	width: 95%;
}

article.w-90 {
	width: 90%;
}

article.w-85 {
	width: 85%;
}

article.w-80 {
	width: 80%;
}

article.w-75 {
	width: 75%;
}

article.w-70 {
	width: 70%;
}

article.w-65 {
	width: 65%;
}

article.w-60 {
	width: 60%;
}

article.w-55 {
	width: 55%;
}

article.w-50 {
	width: 50%;
}

article.w-45 {
	width: 45%;
}

article.w-40 {
	width: 40%;
}

article.w-35 {
	width: 35%;
}

article.w-30 {
	width: 30%;
}

article.w-25 {
	width: 25%;
}

article.w-20 {
	width: 20%;
}

article.w-15 {
	width: 15%;
}

article.w-10 {
	width: 10%;
}

.row {
	margin: 10px 0px;
}

.row-empty {
	height: 20px;
}

.center {
	text-align: center;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.head {
	font-size: 30px;
}

.middle-font {
	font-size: 35px;
}

.small-font {
	font-size: 25px;
}

.ssmall-font {
	font-size: 16px;
}

/***************************************************************************************/
@charset "UTF-8";

    * {
    font-family: NanumGothicCoding;
	src: url("../font/NanumGothicCoding.ttf");
        box-sizing: border-box;
        font-family: 'Noto Sans KR', sans-serif;
    }
 
    
    .img-shadow:hover{
             box-shadow: 0px 0px 5px 2px #ccc; /*아니면#333*/ 
            display: inline-block;
            padding:2px;
            margin: auto;
            font
        }
       .a:hover{ 
            border:2px solid white;
        }
        
        .b:hover{
           box-shadow: 0px 0px 5px 2px #ccc; /*아니면#333*/ 
        }
    
    
        .img-wrap{
        text-align: center;
        
            
    
        } 
        
        h1:nth-child(2){
            color: #C80A1E;
            text-align: center;
            font-size: 50px
            
        }
        
       .hr-onelow{
            width: 1800px;
           color: grey;
        }
        
        .hr-twolow{
            width: 1800px;
            color: gainsboro;
        }
        
        h4{
            color: #C80A1E;
            background-color: antiquewhite;
             padding: 0.75rem;
            <!--안됌border-width: 200px;-->
           
            
        }
        .item_recom li{
            list-style: none;
            display: inline-block;
            margin: 60px;
        }
        
         .item_recom li:hover{
            list-style: none;
            display: inline-block;
             box-shadow: 0px 0px 5px 2px #ccc; /*아니면#333*/ 
            display: inline-block;
            
        }
        /*여기까지 구별*/
        
        /*장바구니 테이블 시작*/
        
         /*장바구니 body*/
        body.Body{
            background-color:white;
            font-size: 13pt;
            min-width: 1080px;
            width: 100%;
           /* padding: 50px 0;*/
        }
        
        
        /*전체 div*/
        #frame{
            width: 70%;
            margin: 0 auto;
            padding: 50px 50px;
            background-color: white;
        }
        
        
        /*페이지 맨위 header아님 장바구니 홈>바구니*/
        #frame2{
            border-bottom: solid 1px #3333;
            padding-bottom: 10px;
            
        }
        
        .home{ /*홈>장바구니*/
            
            float: right;
        }
        
        /*계산테이블*/
        table.calculation1{
            clear: both;
            border: solid 0.5px black;
            border-collapse: #3333;
            background-color: #3333;
            width: 100%;
            text-align: center;            
            font-size: 13px;
       
        }
        
        /*계산 테이블- 제목*/
        table.calculation1 th{
            border: solid 1px black;
            padding: 10px 10;
        }
    
        /*계산 테이블- 내용*/
        table.calculation1 td{
            border: solid 1px black;
            text-align: center;
        }
        
        /*총 결제예정금액 테이블*/
        table.calculation2{
            border: solid 1px black;
            border-collapse: collapse;
            background-color: antiquewhite;
            width: 100%;
            font-size: 13pt;
        }
        
        /*총 결제예정금액 테이블-제목*/
        table.calculation2 th{
            border: solid 1px #3333;
            font-size: 15px;
        }
        
        
        /*총 결제예정금액 테이블-내용*/
        table.calculation2 td{
            border: solid 0.px #3333;
            text-align: center;
        }
        
        
        
        /*calculation2테이블 - 가격~원*/
        .price{
            font-size:20pt;
            font-weight:bold;
        }
        
        /* 이용약관 ol태그 - li */
        .lifont{font-size: 10pt; color: gray;}
        
        /*bootstrp 버튼*/
        .btn{
            border:none;
            color: white;
            padding: 15px 10px;
      
            font-size: 13px;
            cursor: pointer;
            
        }
        
        
        .default{background-color: #fff; border: solid 1px gray; color: black;}
        
        .default: hover{background: #ddd;}
        
        .backBtn{background: #fff; border: solid 1px gray;}
        
        /*선택상품 삭제, 장바구니 이동float
        .btnfloat{float: left;}*/
        
        /*선택상품 장바구니, 견적서 출력 float*/
        .btnFloat2{float: right;}
        
        
        .clearboth{clear:both;}
        
        /*쇼핑계속하기*/
        .footerbtn{float: right; font-weight: bolder; font-size: 12pt; }
        
        /*전체상품 주문 선택상품 주문 쇼핑 계속하기 button 통합*/
        #allProduct, #productClear, #footerbtn{padding: 12px 35px;}
        
        #allProduct{background-color: white; color: #fff; font-weight: bold; font-size: 12pt;}
        
        /*선택상품주문 + 전체상품주문button*/
        #productClear{background-color: gray; color: #fff; font-weight: bold; font-size: 12pt;}
        
        .aa:hover{cursor: pointer;} /*찜한 상품 구매한 주문button*/
        
        
        #frame2{
            text-align: center;
        }
        
        .pagination a{
            text-decoration: none;
            color: dimgray;
            display: inline-block;
            padding: 0.5rem;
            min-width: 2.5rem;
            text-align: center;
            border: 1px solid transparent;
        }
        .pagination a:hover{
            border: 1px solid gray;
            color: red;
        }
        .pagination .on{
            border: 1px solid gray;
            color: red;
        }
        